// @import '../../../common/styles/breackpoints';
// @import '../../../common/styles/colors';

@use '/src/common/styles/breackpoints' as *;
@use '/src/common/styles/colors' as color;
@use '/src/common/styles/templates' as *;
@use '/src/common/styles/mixin' as *;

$paddingSize: 15px;



.container{
  @extend %flex-between;
  padding: $paddingSize + 5px;
  background-color: color.$colorMain;
  @media screen and (max-width: $sm) {
    width: 90%;
    @include flexColumn;
  }
}